<table>
    <tr>
        <td><a href="{{site.baseurl}}/bigideas/3.1/hacks">3.1 and 3.4</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.2/hacks">3.2</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.3/hacks">3.3</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.4/hacks">3.</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.5/hacks">3.</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.2/hacks">3.</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.2/hacks">3.</a></td>
        <td><a href="{{site.baseurl}}/bigideas/3.2/hacks">3.</a></td>
    </tr>
</table>