<table>
    <tr>
        <td><a href="{{site.baseurl}}/games/tictactoe">Tic Tac Toe</a></td>
        <td><a href="{{site.baseurl}}/games/rockpaperscissors">Rock Paper Scissors</a></td>
        <td><a href="{{site.baseurl}}/games/cookieclicker">Cookie Clicker</a></td>
        <td><a href="{{site.baseurl}}/games/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/games/itunes">iTunes</a></td>
        <td><a href="{{site.baseurl}}/games/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/games/binary_calculator">Binary Calculator</a></td>
    </tr>
</table>