<table>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/bh">Beneficial and Harmful Effects of Computing</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/digital_divide">Digital Divide</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/computer_bias">Computing Bias</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/crowdsourcing">Crowd Sourcing</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/l&e">Legal and Ethical Concerns</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/styling">Styling</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/bsa">Binary Search Algorithms</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/lists">Lists</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/random_algorithms">Random Algorithms</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/bigo">Big O</a></td>
    </tr>
    <tr>
        <td>🍿 Hacks + Homework</td>
        <td><a href="{{site.baseurl}}/csp/lesson/undecidable">Undecidable</a></td>
    </tr>
</table>