<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/success.png" height="60" title="Success" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/tri2/review">Review</a></td>
        <td><a href="{{site.baseurl}}/csp/tri2/5things">5 Things</a></td>
        <td><a href="{{site.baseurl}}/csp/tri2/n@tm">N@TM</a></td>
        <td><a href="{{site.baseurl}}/csp/tri2/feature">Feature</a></td>
        <td><a href="{{site.baseurl}}/csp/tri2/mcq">MCQ Review</a></td>
        <td><a href="{{site.baseurl}}/csp/tri2/self-grade">Self-Grade</a></td>
    </tr>
</table>